<!DOCTYPE html>
<html lang="pt-BR">
<head>
</head>
<body>
    <h1>Conheça os Autores</h1>
    <p>Celebramos as pessoas por tr?s do Hortalis. Estes s?o os cora??es e mentes que tornam o projeto poss?vel.</p>


    <article>
        <img src="./assets/Gustavo.png" alt="Gustavo D. Silva" />
        <h3>Gustavo D. Silva</h3>
        <p>FrontEnd/UI UX</p>
        <p>Sou programador full-stack apaixonado por tecnologia, inova??o e empreendedorismo. Atuo no desenvolvimento de projetos digitais que unem criatividade, impacto social e solu??es pr?ticas para o dia a dia.</p>
        <a href="https://www.linkedin.com/in/gustavo-d-silva-33b044228">LinkedIn</a>
        <a href="https://www.instagram.com/gustvo_d">Instagram</a>
    </article>

    <article>
        <img src="https://images.unsplash.com/photo-1502685104226-ee32379fefbe?q=80&w=1200&auto=format&fit=crop" alt="Miguel P. Moura" />
        <h3>Miguel P. Moura</h3>
        <p>Representante/MER DER</p>
        <p>Sou um apaixonado por tecnologia, uma pessoa muito dedicada ao que faz, estudante de DSM.</p>
        <a href="#">LinkedIn</a>
        <a href="https://www.instagram.com/miguel_p_moura?igsh=MW93eWs4MjMxdXpzOQ==">Instagram</a>
    </article>

    <article>
        <img src="./assets/Carrara.jpeg" alt="Gustavo F. Carrara" />
        <h3>Gustavo F. Carrara</h3>
        <p>Documenta??o</p>
        <p>Estudante DSM na FATEC, apaixonado por tecnologia, design digital, uma pessoa criativa e obstinada.</p>
        <a href="https://www.linkedin.com/in/gustavo-carrara-623b4224a">LinkedIn</a>
        <a href="https://www.instagram.com/gu_carrara">Instagram</a>
    </article>

    <article>
        <img src="./assets/Pedro.jpg" alt="Pedro H. P. Penitenti" />
        <h3>Pedro H. P. Penitenti</h3>
        <p>Frontend/Documenta??o</p>
        <p>Atualmente cursando DSM na Fatec Mat?o, estudando tanto o lado t?cnico quanto o l?gico por tr?s do desenvolvimento de aplica??es eficientes e escal?veis.</p>
        <a href="https://www.linkedin.com/in/pedro-penitenti-952416381?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app">LinkedIn</a>
        <a href="https://www.instagram.com/p.penitenti/#">Instagram</a>
    </article>

    <article>
        <img src="./assets/Guilherme.jpg" alt="Guilherme W. Pedroso" />
        <h3>Guilherme W. Pedroso</h3>
        <p>Frontend/Documenta??o</p>
        <p>Estudante de Desenvolvimento de Software Multiplataforma na FATEC. Atualmente em forma??o na ?rea de tecnologia com foco em desenvolvimento de aplica??es para web, mobile e desktop. Interessado(a) em aprender novas linguagens.</p>
        <a href="https://www.linkedin.com/in/guilherme-pedroso-1569a5365/">LinkedIn</a>
        <a href="https://www.instagram.com/guipedroso__/#">Instagram</a>
    </article>

    <article>
        <img src="https://images.unsplash.com/photo-1527980965255-d3b416303d12?q=80&w=1200&auto=format&fit=crop" alt="Luiz Ricardo Ramos" />
        <h3>Luiz Ricardo Ramos</h3>
        <p>Desenvolvedor Front-End.</p>
        <p>Cursando o curso de Desenvolvimento e Software Multiplataforma na FATEC. Em forma??o na ?rea de desenvolvimento de WebPages(Mobile e Desktop).</p>
        <a href="https://www.linkedin.com/in/luiz-ramos-8468a4350?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app">LinkedIn</a>
        <a href="https://www.instagram.com/luizramos3407?igsh=NTBzY295YzB2M3o0">Instagram</a>
    </article>

</body>
</html>